/* =============================
   CSS Boilerplate / Reset
============================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
 html,body {
    height: 100%;
    width : 100%;
    text-align: center;
    background-color: ;
    

}
#heading
{
    background-color: antiquewhite;
    text-align: center;
    height: 80px;
    padding: 20px;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    
    


}
img:hover{
    opacity: 0.4;
    cursor: pointer;
   
  
}

.images{
    width: 100px;
    height: 100px;
  
  
   
}
img{
     width: 80pxpx;
    height: 80px;
    border-radius: 50%;
    
   
    

}
.scoreboard
{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 2rem;

 }

.msg-container{
    margin-top: 5rem;
}

 #msg{
    display: inline-block;
    margin-top: 10px;
    background-color: beige;
    color: brown ;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;

   

    
 }
 #yourscore,#compscore{
    font-size: larger;
 }
 #res
 {
    background-color: antiquewhite;
    color: brown;
    border-radius: 1rem;
    height: 32px;
    width: 120px;
    font-size:medium;
    margin-top: 1rem;
    cursor: pointer;
 }



